
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
.text_red{
    color: #ffc800
    
    
}
.bg{
    background-color: rgb(22, 1, 90);
}
 
 .logosize{
     width: 70px;
     height: 100%;
 }
 .hlwpm{
     color: #fff;
     font-family:Dancing Script;
     font-size: 24px;
 }

#navbarNav ul li a{
    color:rgb(232, 238, 255)
}
.resiBtn{
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.logBtn{
    background-color: #ffc800;
    border: none;
    border-radius: 5px;
    margin: 0 15px;
    cursor: pointer;
    transition: 0.3s ease;
}
.logBtn:hover{
    background-color: #fff;
    color: #186711c2;;
}
.subject img{
    margin-top: 100px;
}
.max-width {
   width: 100%;
    height: auto;
    display: inline-block;
}
 .details_img img{
     margin-top: 100px;
     width: 700px;
     height: 450px;
    
 }
 #details{
     background-image: url(back2.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     margin-bottom: 5px;
 }
 hr{
   
    height: 6px;
    background-color: rgb(12, 0, 88);
   
   
}
 .details_text h1{
     color:#fff;
 }
 .details_text h4{
    color:rgb(255, 255, 255)
 }
 .details_text p{
     color:rgb(202, 202, 216)
 }
 .logInfrm{
     border:1px solid rgb(12, 0, 88);
     border-radius: 10px;
 }
 .afhr{
     width: 300px;
    background-color: rgb(12, 0, 88);
 }
 .logInfrm h1{
     color: rgb(12, 0, 88);
 }
 .btn{
        background-color: rgb(12, 0, 88);
        color: #fff;
 }
